<div class="about">
  <div fxLayout="column" fxLayoutAlign="center ">
    <div
      fxLayoutAlign="center "
      style="
        margin: 75px 0px 60px 0px;
        font-family: 'Black Bones Personal Use', sans-serif;
        letter-spacing: 5px;text-align:center;
      "
      class="reveal bounceInUp animate-gradient-text"
    >
      ABOUT&nbsp;US
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxLayout="row">
        <div>
          <div>
            <div class="container">
              <div
                fxLayout="row"
                fxLayoutAlign="space between center "
                fxLayout.xs="column"
                fxLayout.sm="column"
              >
                <div fxLayout="row"   style="text-align:center ;   " class="reveal zoomInRight">
                  <div fxLayoutAlign="start start  " style="margin: 20px 0px">
                    <a class="bsous hoverbs">
                      <div class="notes">
                        <ul class="note_list" fxLayoutAlign="center center">
                          <li>
                            <img
                              src="https://i.ibb.co/gTj2ZdG/delicious-1.png"
                              width="75px"
                              height="100px"
                            />
                            <p class="sous-icon">Eating</p>
                          </li>
                          <li>
                            <img
                              src="https://i.ibb.co/fxjBGYf/study.png"
                              width="75px"
                              height="100px"
                            />
                            <p class="sous-icon">Learning</p>
                          </li>
                          <li class="active">
                            <img
                              src="https://i.ibb.co/HH4FHN7/programing.png"
                              width="75px"
                              height="100px"
                            />
                            <p class="sous-icon">Coding</p>
                          </li>
                          <li>
                            <img
                              src="https://i.ibb.co/mv2zj3D/reading-book-1.png"
                              width="75px"
                              height="100px"
                            />
                            <p class="sous-icon">Reading</p>
                          </li>
                          <li>
                            <img
                              src="https://i.ibb.co/xSmXVc9/bicyclist.png"
                              width="75px"
                              height="100px"
                            />
                            <p class="sous-icon">Biking</p>
                          </li>
                          <li>
                            <img
                              src="https://i.ibb.co/TMQFf1z/sleeping-2.png"
                              width="75px"
                              height="100px"
                            />
                            <p class="sous-icon">Sleeping</p>
                          </li>
                        </ul>
                      </div>
                    </a>
                  </div>
                  <img
                    id="imgab reveal lightSpeedInleft"class="life"

                    src="https://i.ibb.co/4SQjTL6/njmhome.png"
                    alt=""
                  />
                </div>
                <div     style="width: 500px;text-align: center;" class="pab reveal zoomInLeft">
                  <p fxLayoutAlign="center " style="margin: 30px 0" class="the  ">
                    Jarray Najmeddine
                  </p>
                  <p
                    fxLayoutAlign="center "
                    class="njma  "
                    style="margin: 30px 0"
                  >
                    I'm Full-Stack Developer
                  </p>
                  <p class="ppp">
                    I'm a Full Stack Developer [MEAN] located in Tunisia. I have
                    a serious passion for UI effects, animations and creating
                    intuitive, dynamic user experiences.
                    <br />
                    <br />
                    My main experience is in front-end development and back-end
                    development but I also have a passion for design. Given that
                    producing a modern website requires the combination of
                    design, server technology, and the layer that users
                    interacts with. I believe having experience in both design
                    and development allows for making the most optimal user
                    experiences.
                    <br />
                    <br />
                    I'm a
                    <b
                      style="
                       border-bottom: 2px solid;font-size: x-large;
                       	background: linear-gradient(to right, rgb(15, 3, 183) 0%, rgb(9, 102, 201) 10%, rgb(194, 19, 148) 50%, red 100%);
                      -webkit-background-clip: text;
                      -webkit-text-fill-color: transparent;"
                      >CodePen</b
                    >
                    advocate
                  </p>
                  <div>
                    <p
                      class="njma"
                      style="
                        margin: 40px 0px;
                        text-align: center;
                        font-size: xx-large;
                      "
                    >
                      best skills
                    </p>
                    <div
                      fxLayoutAlign="center "
                      class="best"
                      style="margin: 20px 0px; text-align: center"
                    >
                      <a class="bbest hovera"  fxLayout="column">
                        <span>Angular</span>
                      </a>
                      <a class="bbest hoverf" >
                        <span>Flutter</span>
                      </a>
                      <a class="bbest hovern" >
                        <span>Node.JS</span>
                      </a>
                      <a class="bbest hoverj" >
                        <span>JS&TS</span>
                      </a>
                    </div>
                  </div>
                  <div fxLayoutAlign="center">
                    <button routerLink="/contact" class="button-86" role="button">
                      Contact Me
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

