

  <div class="exper" fxLayout="column" fxLayoutAlign="center">
    <div fxLayout="row" fxLayoutAlign="center ">



        <div  >
            <div fxLayoutAlign="center center "
             style="margin: 75px 0px 120px 0px;text-align: center;font-family: 'Black Bones Personal Use',
             sans-serif;letter-spacing:2px" class="animate-gradient-text  reveal bounceInUp">EXPERIENCE





            </div>





  <div  fxLayout="row"  fxLayoutAlign="center" fxLayout.xs="column" fxLayout.sm="column">

<div class="outer-div reveal flipInY" >
        <div class="inner-div" style="text-align: start;">
          <div class="front">
            <div class="front__bkg-photo"> </div>
            <div  > <img class="front__face-photo" src="https://cdn-icons-png.flaticon.com/128/3227/3227053.png"  alt=""></div>
            <div class="front__text">

              <div style="margin-top: 50px;">
                <div fxLayout="row" >
                  <h3 style="margin:25px ;" fxLayoutAlign="center center"   class="front__text-header">2022"</h3>
                 <p style="margin:25px ;font-family: Arial;line-height: 1.5; font-size: medium;" >Created Platform Professional<br>
                   <b>ETC Tunisie</b>  </p>
                 </div>
<div fxLayout="row" >
 <h3 style="margin:25px ;line-height: 1.5;" fxLayoutAlign="center center"   class="front__text-header">2022'</h3>
<p style="margin:25px ;line-height: 1.5;font-family: Arial; font-size: medium;" >Started Creating Angular projects <br>
 <b>ANGULAR</b></p>
</div>
<div fxLayout="row">
  <h3  style="margin:25px 25px 0px 25px  ;line-height: 1.5;" fxLayoutAlign="center center"  class="front__text-header">2021</h3>
  <p style="margin:25px 25px 7px 25px ;line-height: 1.5;font-family: Arial; font-size: medium;" > Started Creating small projects <br>
  HTML, CSS, JS</p>
  </div>





              </div>





            </div>
            </div>
          </div>


        </div>
    <div class="outer-div reveal flipInY" >
      <div class="inner-div">
        <div class="front">
          <div class="front__bkg-photo"> </div>
          <div  > <img class="front__face-photo" src="https://scontent.ftun1-2.fna.fbcdn.net/v/t39.30808-6/272905499_2793941414232386_1201299249641949739_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=t2v95YV_DlYAX9cq2Hk&_nc_oc=AQng5GCJoI-HCfPxZJJDER33dHXbKGBEbtxap_0nDdBCsgjgHHoAahfsk4O9WqF3UiY&_nc_ht=scontent.ftun1-2.fna&oh=00_AT-2BDYPcKPc3N5W6m1CbnndxS8BLUcpLF00rUspc5E3UQ&oe=634FCD8C" alt=""></div>
          <div class="front__text">
            <h1 style="color:blue;margin-top:20px;font-weight: bold;font-family: cursive; margin: 25px 0px;" class="front__text-header">ETC Tunisie</h1>
            <h3 class="front__text-header" style=" margin: 15px 0px;">Web Development</h3>
            <p style="font-size:small;font-family: Poppins;  margin: 25px 0px;" class="front__text-header">Electronic platform for signing
              documents <br>[MEAN]</p>
            <p class="front__text-para" style=" margin: 25px 0px;"><i class="fas fa-map-marker-alt front-icons">

            </i>kairouan, Tunisie</p>
            <div     fxLayoutAlign="space-evenly center" >
              <a style="margin: 10px 0px;font-size:xx-large;color: #7b52eb;"  href="https://www.linkedin.com/company/etc-tunisie/" target="_blank" class="social-icon"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
              <a style="margin: 10px 0px;font-size:xx-large;color: #7b52eb;"  href="https://www.facebook.com/search/top?q=etc%20tunisie" target="_blank" class="social-icon"><i class="fab fa-facebook" aria-hidden="true"></i></a>
              <a style="margin: 10px 0px;font-size:xx-large;color: #7b52eb;"  href="https://www.eurotechconseil.com/" target="_blank" class="social-icon"><i class="fas fa-globe" aria-hidden="true"></i></a>

            </div>
            <div class="profile-card-ctr">
              <button class="profile-card__button button--blue
                js-message-btn" (click)="cert()" >Certificate</button>
            </div>
          </div>
          </div>
        </div>


      </div>


  </div>
        </div>
    </div>
</div>








