

@import url("http://fonts.cdnfonts.com/css/black-bones-personal-use");



.fsd {
  font-family: 'Black Bones Personal Use', sans-serif;
  color: white;
  margin: 0;
  font-size: 25px;
  line-height: 150%;
font-weight: bold;
  letter-spacing: 5px;

}

  .flok {
    font-family: 'Black Bones Personal Use', sans-serif;
    color: rgb(54, 91, 254);
    font-size: 66px;
    line-height: 1;

    letter-spacing: 10px;
    text-decoration: none;

}



  .flok:hover{

       transition:.05s; cursor: pointer;color: rgb(218, 202, 60); transform: scale(1.5) rotate(0deg);

}



.typed-out {
  overflow: hidden;
  // border-right: 0.15em solid rgb(43, 0, 255);
  white-space: pre;
  animation: typing 5s backwards;
margin:25px 0px;
  font-family: monospace ;
letter-spacing: 2px;
  color: white;
  font-size: 35px;
  line-height: 120%;
  font-weight: bold;

}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typed-out-animation {
  0% {
    background-size: 57%;
    background-position: 0 0;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 300%;
    background-position: -9em 1em;
  }
}



@keyframes animated-gradient {
  0%,
  100% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}


@keyframes animated-gradient {
  0%,
  100% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}







/* SVG animations */

@keyframes color_anim {
  0% {
    fill: rgb(0, 0, 0);
  }
  50% {
    fill: rgb(255, 255, 255);
  }
  100% {
    fill: rgb(0, 0, 0);
  }
}





/* CSS */
.button-86 {
  all: unset;

  font-size: x-large;
  background: red;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  padding: 15px 35px;
  margin: 35px 0px;
  text-decoration: none;
  font-family: "Black Bones Personal Use", sans-serif;
  letter-spacing: 3px;

  background: rgb(50, 58, 77);
  border-radius: 25px 0px;
}

.button-86::after,
.button-86::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.3s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;

  border-radius: 15px 0px;
}

.button-86::after {
  transform: translate(0px, 0px);
  width: 20px;
  height: 20px;
  background: #00f;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  border-radius: 25px 0px;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
  background: #00f;
  border-radius: 25px 0px;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 0%);
}
.button-86:hover {
  transform: scale(1.15) rotate(0deg);
  transition: 0.25s;
}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.imginpc{
  display: flex;
     height: 90vh ; border: 5px currentColor ;border-radius: 5%;margin-left: 150px;

}
.imginmb{
  display: none;
}

@media screen and (max-width: 768px) {
  .mrgtop{
    margin-top: 150px;
    }


    .button-86 {
      all: unset;
      transform: translate(250px);
      font-size: xx-large;

      border: none;
      position: relative;
      color: #f0f0f0;
      cursor: pointer;
      z-index: 1;

      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      padding: 30px 65px;
      margin: 50px;
      text-decoration: none;
      font-family: "Black Bones Personal Use", sans-serif;
      letter-spacing: 3px;

      background: rgb(50, 58, 77);
      border-radius: 50px 0px;
    }

    .button-86::after,
    .button-86::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -99999;
      transition: all 0.3s;
    }

    .button-86::before {
      transform: translate(0%, 0%);
      width: 100%;
      height: 100%;

      border-radius: 15px 0px;
    }

    .button-86::after {
      transform: translate(0px, 0px);
      width: 20px;
      height: 20px;
      background: #00f;
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border-radius: 50px;
    }

    .button-86:hover::before {
      transform: translate(0%, 0%);
      width: 100%;
      height: 100%;
      border-radius: 25px 0px;
    }

    .button-86:hover::after {
      border-radius: 10px;
      transform: translate(0, 0);
      width: 100%;
      height: 100%;
      background: #00f;
      border-radius: 50px 0px;
    }

    .button-86:active::after {
      transition: 0s;
      transform: translate(0, 0%);
    }
    .button-86:hover {
      transform: scale(1.15) rotate(0deg);
      transition: 0.25s;
    }



    .flok {
      font-family: 'Black Bones Personal Use', sans-serif;
      color: rgb(54, 91, 254);
      font-size: 100px;
      line-height: 1;

      letter-spacing: 12px;
      text-decoration: none;

  }



    .flok:hover{

         transition:.05s; cursor: pointer;color: rgb(218, 202, 60); transform: scale(1.5) rotate(0deg);

  }








    .typed-out {
      overflow: hidden;
      // border-right: 0.15em solid rgb(43, 0, 255);
      white-space: pre;
      animation: typing 5s backwards;
      margin: 25px auto;
      font-family: monospace ;
    letter-spacing: -2px;
      color: white;
      font-size: 55px;
      line-height: 120%;
      font-weight: bold;
transform: translate(150px);
    }
    .fsd {
      font-family: 'Black Bones Personal Use', sans-serif;
      color: white;
      margin: 25px auto;

      font-size: 40px;
      line-height: 150%;
font-weight: bold;
      letter-spacing: 5px;
      transform: translate(150px);
    }










  .home{
    max-width: 100vw;
    min-height: 100vw;

 transform: translateX(25vw);

.imginpc{
  display: none;
}
.imginmb{
  display: inline;
  margin: 25px 25%;
  padding: 30px;
  height: 100vh;
  width: 100%;

  border: 5px currentColor ;
  border-radius: 10%;


}



.mean{

text-align: center;
width: 150%;
height:100% ;        margin: 25px auto;
transform: translate(130px);

}
 }

}

.mean{
  width:400px;
  margin: 25px;
}










