


<link rel="stylesheet" href="http://fonts.cdnfonts.com/css/black-bones-personal-use">

    <div class="home" fxLayout="column"  fxLayoutAlign="center center "  >


      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center" >




          <div fxLayout="row" fxLayoutAlign="center center"  >

              <div    >

                  <div class="mrgtop" >
                    <div class="poshi">
                      <a   class="hi">
                          <span class="flok">👋</span>
                          <span class="flok">H</span>
                          <span class="flok">i</span>
                          <span class="flok">&nbsp;</span>
                          <span class="flok">F</span>
                          <span class="flok">o</span>
                          <span class="flok">l</span>
                          <span class="flok">k</span>
                          <span class="flok">s</span>
                          <span class="flok">!</span>
                      </a></div>  <div  ><img class="imginmb"
                         src="https://i.ibb.co/4SQjTL6/njmhome.png" alt=""  ></div>
                      <div class="container " style="display: flex;">

                          <div class="typed-out">I'm Jarray Najmeddine
                              <br>
                          </div>
                      </div>

                      <p class="fsd " style="margin-bottom: 30px;">I'm  Full-Stack Developer [MEAN] </p>


                  </div>

                  <div fxLayoutAlign="row"  >


                    <img class="mean"  src="https://i.ibb.co/KKG4j9v/mean.png" alt=""      >


                  </div>
                  <div  >
                    <button class="button-86" routerLink="/about" role="button">Know Me</button>


                  </div>

              </div>

          </div>
          <div      fxLayoutAlign="center "  >
            <img class="imginpc"
             src="https://i.ibb.co/4SQjTL6/njmhome.png" alt=""  >
          </div>


      </div>
  </div >















































